[Unit]
Description=Trainer Tools Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory={INSTALL_DIR}
ExecStart=/bin/bash {INSTALL_DIR}/run_script

[Install]
WantedBy=multi-user.target
